doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src='https://www.rdio.com/api/api.js?helper=/helper&client_id=YYlhlVoT9Gs2-zwMBEYHVw')
    script(src='/components/jquery/jquery.js')
    script(src='/components/underscore/underscore.js')
    script(src='/components/backbone/backbone.js')
    script(src='/components/handlebars/handlebars.js')
    script(src='/javascripts/app.js')
